*{
    box-sizing: border-box;
}
@font-face{
    font-family:Baskerville;
    src:url(../font/@font-face/baskerville.ttf);
}
body{
    
    background-color:silver;
    width:  80%;
    display:flex;
    margin-bottom:3%;
    justify-content:center;
    flex-direction: column;
    margin: auto;
}
abbr{
    text-decoration: none;
}
p{
    font-family:'Arial Narrow Bold', sans-serif;
}
h1{
    font-size:4em;
    text-align: center; 
    font-family:Baskerville;
}
h2{
    font-family:Baskerville;
    font-size: 2em;
    color:rgba(238, 32, 32, 0.938);    
}
h1+p{
    margin-top: -2%;
}
a{
    color:rgba(238, 32, 32, 0.938); 
}
table{
    border-collapse: collapse;
    margin-bottom:2%;
    position: relative;
    width:100%;
    cursor: pointer;
}
td,th{
    padding: 7px;
}
tr td:nth-child(1){
    text-align: center;
}

tr:hover{
 background-color: gray !important;  
}
thead{
    background-color: black ;
    color:white ;
    font-weight:bold ;
   
}

.back-multiple:nth-child(2n+1){
    background-color: rgba(247, 242, 242, 0.5);
  }
figure{
    position: relative;
    width:100%;
    background-color:rgba(12, 12, 12, 0.979);
    padding:50px;
    border-radius:10px 10px 10px 10px;
    border: red solid 2px;
    color:white;
    margin:auto;
}
figcaption{
    text-align: center;
    font-weight:bold;
    margin-top:2%;
    font-size:120%;
}
.img-responsive{
    position:relative;
    width:100%;
}

#last-para{
background-color:rgba(95, 95, 95, 0.2);
border:3px rebeccapurple dashed;
padding: 30px;
color:rebeccapurple;
font-size:109%;
font-weight:bold;
width:90%;
line-height:182%;
margin-left:8%;
}
.before-last-para{
    width:98%;
}